* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-size: 16px;
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif, Helvetica;
    height: 100%;
    box-sizing: border-box;
}

/* Navbar area */
.logoarea {
    position: relative;
    background-color: #333333;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    align-items: center;
    text-decoration: none;
    color: white;
}

#logowrap img {
    width: 20vh;
    height: 08vh;
    position: relative;
    background-color: white;
    border-radius: 5px;
}

#companyname {
    position: relative;
    text-align: center;
}

#companyname h3 {
    font-size: 18px;
    margin: 0;
}

#companyname em {
    font-size: 12px;
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif, Helvetica;
    justify-content: center;
}

.navothers {
    display: flex;
    gap: 30px;
}

.navothers a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
    padding: 08px;
}

.navothers a:hover {
    border-radius: 05px;
    background-color: #d5ecff;
    color: rgb(2, 2, 75);
}

/* Video for background */
#videobackground {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-width: 100%;
    z-index: -1;
}

/* Section area */

.pagecontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 20px 200px 20px;
    width: 100%;
    margin: 0 auto;

}

.leftdiv, .rightdiv {
    width: 50%;
}

.leftdiv h1 {
    text-align: center;
    font-size: 60px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.leftdiv i {
    font-size: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.rightdiv {
    text-align: start;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.868);
    padding: 100px 20px;
}

#log {
    font-size: 30px;
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif, Helvetica;
}

#donthv {
    font-size: 18px;
    text-decoration: none;
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif, Helvetica;
    padding-top: 10px;
    padding-bottom: 40px;
}


#donthv a {
    text-decoration: none;
    color: blue;
}

#donthv a:hover {
    color: rgb(93, 93, 250);
}

.loginarea label {
    color: black;
}

.loginarea input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solic #ccc;
    border-radius: 5px;
}

.loginarea button {
    width: 100%;
    padding: 15px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

.loginarea a {
    text-decoration: none;
    color: whitesmoke;
}

.loginarea button:hover {
    background-color: rgb(93, 93, 250);
}

.remb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    color: #333333;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.remb a {
    color: #333333;
}

.psw a {
    font-size: 16px;
    color: red;
    text-decoration: none;
}

.psw a:hover {
    text-decoration: underline;
}

/* Social media login */

.line {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0px;
    padding: 10px 0;
}

.line::before, .line::after {
    content: '''';
    margin-right: 5px;
    margin-left: 5px;
    flex: 1;
    height: 1px;
    background: #333333;
}

.socialbtn {
    display: flex;
    position: relative;
    justify-content: center;
    cursor: pointer;
}

.socialbtn a {
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    display: flex;
}

/* Table one format */

.table-1 {
    background-color: #ccc;
    border-spacing: 20px;
    width: 100%;
    height: 100%;
    padding: 50px;
    line-height: 60px;
    border-collapse: separate;
    border-spacing: 20px 0px;
}

.str {
    font-size: 3em;
    color: #333333;
    align-items: center;
    justify-content: center;
    font-family: "Oleo Script", system-ui;
    font-style: normal;
    padding-bottom: 5vh;
}

.headwords {
    font-size: 25px;
    color: rgb(146, 82, 5);
    font-family: "Edu AU VIC WA NT Dots", cursive;
    font-weight: 700;
    font-style: normal;   
}

.headwords strong {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4vh;
    color: #333333;
    font-weight: 500;
}

td:nth-child(3) {
    border-spacing: 0;
}

.error {
    color: red;
    margin-bottom: 10px;
}
/* Table two format */
.product-item {
    background-color: #e1dfe0;
    padding-bottom: 300px;
}

.table-2 td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 05px;
    transition: background-color 0.3s ease-out;
}

.table-2 td:hover {
    background-color: #33333344;
}

.table-2 {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-collapse: separate;
}

.table-2 th img {
    width: 100%;
    height: 350px;
    overflow: hidden;
    object-fit: cover;
    padding-top: 20px;
    transition: transform 0.3s ease;
}

.table-2 img:hover {
    transform: scale(0.9);
}

.table-2 td:nth-child(4),
.table-2 td:nth-child(6),
.table-2 td:nth-child(2) {
    background-color: #333333;
    color: white;
}

.table-2 img {
    width: 100%;
}

/* Footer content */

.footer-detail {
    background-color: #e1dfe0;
    cursor: pointer;
    padding: 20px;
}

.footer-detail h2 {
    justify-content: center;
    text-align: center;
    font-size: 80px;
}

/* Table three format */

.table-3 th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.table-3 {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table-3 td:nth-child(4) {
    background-color: #333333;
    color: white;
}

#infor {
    color: black;
    background-color: #e1dfe0;
}

#pr {
    color: black;
    background-color: #e1dfe0;
}

.table-3 th, td:hover {
    background-color: #33333352;

}

footer {
    position: relative;
    z-index: 2;
    background-color: #e1dfe0;
    color: #333333;
    padding: 10px;
    text-align: center;
}

/* Moobile responsive */
@media (max-width: 768px) {
    .logoarea {
        flex-direction: column;
        text-align: center;

    }

    #logowrap img {
        width: 15vh;
        height: 6vh;
    }

    .navothers {
        flex-direction: column;
        gap: 10px
    }

    .pagecontent {
        flex-direction: column;
        padding: 50px 10px;
    }

    .leftdiv, .rightdiv {
        width: 100%;
        margin-bottom: 20px;
    }

    .leftdiv h1 {
        font-size: 40px;
    }

    .loginarea button, .loginarea input {
        padding: 12px;
        font-size: 16px;
    }

    .table-1, .table-2, .table-3 {
        padding: 10px;
    }

    .footer-detail h2 {
        font-size: 40px;
    }

}